.home {
  min-height: 100vh;
  padding: 2rem;

  .controls {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
    margin-bottom: 1rem;
  }

  p {
    max-width: 720px;
    margin: 1rem auto;
  }
}
